.css-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  row-gap: 5px;
  column-gap: 5px;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.js-square{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
}
